<div class="jumbotron opacity-1" style="width: 88%;margin: 25px auto 0px auto; box-shadow: 2px 2px 10px #888888; ">
  <h1 class="display-4">Welcome to here !</h1>
  <p class="lead"></p>这里是SDTTTT的博客。</p>
  <hr class="my-4">
  <h5><p class="badge badge-pill badge-danger">Status: Beta.</p></h5>
  <h5><p class="badge badge-pill badge-primary">Version: 0.0.2.</p></h5>
  <br />
  <%= link_to 'Go', new_product_path , class:'btn btn-success btn-lg',style: 'width: 24%;' %>
</div>
