@import 'bootstrap/scss/bootstrap';

.opacity-1 {
    opacity: 0.9;
}

.opacity-2 {
    opacity: 0.95;
}

.opacity-3 {
    opacity: 0.98;
}

body {
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
}
